@charset "UTF-8";
@-ms-viewport {
    width: device-width;
}

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

@media print {
    .container {
        width: auto;
    }
}


/*============================================================ base ======================*/

* {
    margin: 0;
    padding: 0;
}

.img-responsive {
    width: auto \9;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: inherit;
    word-break: keep-all;
    white-space: nowrap;
}

p {
    margin: 0;
}
.cursor {
    cursor: pointer;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h4 {
    font-weight: 500;
}

html,
body {
    height: 100%;
    font-family: '微软雅黑', '黑体';
    font-size: 14px;
    letter-spacing: 1px;
}

body {
    overflow-y: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.pd15 {
    padding: 15px;
}

.mr20 {
    margin-right: 20px;
}

.pdr10 {
    padding-right: 10px;
}

.pdl10 {
    padding-left: 10px;
}

.mr-20 {}

.w40 {
    width: 40%;
}

.w100 {
    width: 100%;
}

.w20 {
    width: 23%;
    min-width: 220px;
}

.w15 {
    width: 15%;
    min-width: 100px;
}

.w24 {
    width: 24%;
    min-width: 220px;
}

.w17 {
    width: 17%;
    min-width: 150px;
}

.min-w465 {}

.w50 {
    width: 50%;
}

.mb20 {
    margin-bottom: 20px;
}

.mb0 {
    margin-bottom: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pdr20 {
    padding-right: 20px;
}

.pdm70 {
    padding-bottom: 70px;
}

.pdt7 {
    padding-top: 7px;
}

.text-r {
    text-align: right;
}

.inner {
    background: #fff;
}

label {
    font-weight: normal;
    color: #676767;
}
.pagination  {
    margin: 0;
}

/*====================== 表单input、select的样式 =============*/

input.form-control,
select.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
}

input.form-control:focus,
select.form-control:focus {
    border-color: #40ca9f;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.has-error input.form-control:focus,
.has-error select.form-control:focus {
    border-color: #f00;
    box-shadow: none;
    -webkit-box-shadow: none;
}


/*========================================================== nav =================================*/


/*============ bootstrap 扩展 =============*/

.navbar-collapse {
    background: #3fcaa0;
    text-align: right;
}


/*====================== 其他 =============*/

.web-navbar-top {
    background: #3fcaa0;
    height: 60px;
    color: #fff;
}

.web-navbar-top .navbar-brand {
    padding: 12px 20px;
    height: 60px;
}

.web-navbar-top .navbar-nav > li > a {
    height: 60px;
    line-height: 60px;
    padding: 0 25px 0 0;
}

.web-navbar-top .navbar-nav.navbar-right:last-child {
    margin-right: -5px;
}

.web-navbar-top .navbar-nav > li > a:hover,
.web-navbar-top .navbar-nav > li > a:focus {
    background: none;
    color: inherit;
}

.navbar-toggle {
    margin: 13px 15px 13px 0;
}

.web-navbar-top .navbar-toggle {
    border-color: #fff;
}

.web-navbar-top .navbar-toggle .icon-bar {
    background: #fff;
}


/*========================================================== sidebar ===========================*/

.sidebar {
    position: fixed;
    top: 60px;
    height: 100%;
    width: 170px;
    background: #fff;
    /*overflow-y: hidden;*/
}

.sidebar a {
    display: block;
    padding: 16px 0;
    padding-left: 80px;
    text-align: center;
}

.sidebar .test {
    background: url(/img/icon/icon_test.png) no-repeat 30px center;
}

.sidebar .active .test,
.sidebar .test:hover,
.sidebar .test:focus {
    background: #d6faf0 url(/img/icon/icon_test1.png) no-repeat 30px center;
}

.sidebar .scene {
    background: url(/img/icon/icon_scene.png) no-repeat 30px center;
}

.sidebar .active .scene,
.sidebar .scene:hover,
.sidebar .scene:focus {
    background: #d6faf0 url(/img/icon/icon_scene1.png) no-repeat 30px center;
}

.sidebar .storehouse {
    background: url(/img/icon/icon_storehouse.png) no-repeat 30px center;
}

.sidebar .active .storehouse,
.sidebar .storehouse:hover,
.sidebar .storehouse:focus {
    background: #d6faf0 url(/img/icon/icon_storehouse1.png) no-repeat 30px center;
}

.sidebar .sys-set {
    background: url(/img/icon/icon_sys_set.png) no-repeat 30px center;
}

.sidebar .active .sys-set,
.sidebar .sys-set:hover,
.sidebar .sys-set:focus {
    background: #d6faf0 url(/img/icon/icon_sys_set1.png) no-repeat 30px center;
}

.sidebar table td {
    height: 40px;
}


/*=============================================================== main ===========================*/

.main {
    position: relative;
    top: 60px;
    margin-left: 170px;
    /*background: #f6faf9;*/
    background: #f9fafa;
    /*overflow-y: auto;*/
    /*overflow-x: scroll;*/
    height: 100%;
    padding-bottom: 60px;
    /*overflow-x: auto;*/
}

.main-status {
    width: 100%;
    padding: 0 20px 30px 20px;
    overflow-y: auto;
    height: 100%;
}


/*=============空列表时的sad图样===========*/

.sad {
    text-align: center;
    margin-top: 15%;
}

.sad-img,
.sad-font {
    display: inline-block;
    vertical-align: middle;
}

.sad-img {
    margin-right: 22px;
}

.sad-font {
    margin-left: 22px;
    margin-top: 10px;
}

.sad-font p {
    text-align: left;
}

.sad-font a {
    margin-top: 15px;
}


/*============== main-title ==============*/


/*== 修改bootstrap路径导航==*/

.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
}

ol {
    margin-bottom: 0;
}

.breadcrumb>li+li:before {
    content: ">";
}


/*=========== 其他 =========*/

.main-title {
    line-height: 45px;
    color: #828282;
    padding: 0 20px;
    font-size: 13px;
}

.fl.breadcrumb a:visited {
    color: #828282;
}

.fl.breadcrumb a:hover {
    color: #56d0aa;
}

.breadcrumb.test li:first-child a {
    padding-left: 30px;
    background: url(/img/icon/icon_sml_test.png) no-repeat 10px center;
}

.breadcrumb.test li:first-child a:visited {
    background: url(/img/icon/icon_sml_test.png) no-repeat 10px center;
}

.breadcrumb.test li:first-child a:hover {
    background: url(/img/icon/icon_sml_test1.png) no-repeat 10px center;
}

.breadcrumb.test li:first-child a:active {
    background: url(/img/icon/icon_sml_test1.png) no-repeat 10px center;
}

.breadcrumb.scenario li:first-child a {
    padding-left: 30px;
    background: url(/img/icon/icon_sml_scenario.png) no-repeat 10px center;
}

.breadcrumb.scenario li:first-child a:visited {
    background: url(/img/icon/icon_sml_scenario.png) no-repeat 10px center;
}

.breadcrumb.scenario li:first-child a:hover {
    background: url(/img/icon/icon_sml_scenario1.png) no-repeat 10px center;
}

.breadcrumb.scenario li:first-child a:active {
    background: url(/img/icon/icon_sml_scenario1.png) no-repeat 10px center;
}

.breadcrumb.data-store li:first-child a {
    padding-left: 30px;
    background: url(/img/icon/icon_sml_data_store.png) no-repeat 10px center;
}

.breadcrumb.data-store li:first-child a:visited {
    background: url(/img/icon/icon_sml_data_store.png) no-repeat 10px center;
}

.breadcrumb.data-store li:first-child a:hover {
    background: url(/img/icon/icon_sml_data_store1.png) no-repeat 10px center;
}

.breadcrumb.data-store li:first-child a:active {
    background: url(/img/icon/icon_sml_data_store1.png) no-repeat 10px center;
}

.breadcrumb.setting li:first-child a {
    padding-left: 30px;
    background: url(/img/icon/icon_sml_set.png) no-repeat 10px center;
}

.breadcrumb.setting li:first-child a:visited {
    background: url(/img/icon/icon_sml_set.png) no-repeat 10px center;
}

.breadcrumb.setting li:first-child a:hover {
    background: url(/img/icon/icon_sml_set1.png) no-repeat 10px center;
}

.breadcrumb.setting li:first-child a:active {
    background: url(/img/icon/icon_sml_set1.png) no-repeat 10px center;
}


/*========================================================== button =========================*/


/*========bootstrap button重写部分 =======*/

.btn {
    background: none;
    padding: 6px 40px;
}


/*============== 自定义的button样式 ======*/

.btn-icon {
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

.btn-icon img {
    margin-top: -3px;
    margin-right: 8px;
}

.btn-orange {
    background: #f99558;
    margin-bottom: 3px;
}

.btn-green {
    background: #40ca9f;
}

.btn-orange:hover,
.btn-orange:focus {
    background: #f68743;
    color: #fff;
}

.btn-green:hover,
.btn-green:focus {
    background: #33b18a;
    color: #fff;
}

.btn-noicon {
    color: #fff;
    padding: 6px 40px;
}

.btn-white {
    width: 100%;
    background: #fff;
    height: 34px;
    color: #1db686;
    border: 1px solid #1db686;
    border-radius: 4px;
    max-width: 100px;
    cursor: pointer;
}


/*========================================================== collapse折叠====================*/


/*========== jquery-Ui collapse重写部分 ==*/

.ui-widget {
    font-family: '微软雅黑', '黑体';
    font-size: 14px;
}

.all-collapse .ui-corner-all,
.ui-corner-left,
.ui-corner-tl {
    border-radius: 0;
}

.ui-corner-top {
    border-radius: 0;
}

.all-collapse .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: none;
    background: #eff0f0;
    font-weight: normal;
    color: #333;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #333;
    text-decoration: none;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #333;
    text-decoration: none;
}

.ui-accordion .ui-accordion-header {
    padding-top: .3em;
    padding-bottom: .3em;
}

.all-collapse .ui-widget-content {
    border: 1px solid #eff0f0;
    background: #fff;
}

.ui-state-default .ui-icon {
    background-image: url(/img/common/ui-icons_888888_256x240.png);
}

.ui-state-active .ui-icon {
    background-image: url(/img/common/ui-icons_454545_256x240.png);
}


/*============================================================== select =====================*/


/*======== bootstrap select 扩展 ======*/

select.form-control {
    min-width: 157px;
}


/*============================================================== modal 弹出框 ===============*/

@media (min-width: 768px) {
    .size .modal-dialog {
        width: 767px;
    }
    .modal-dialog {
        margin: 70px auto;
    }
}

.modal-dialog {
    font-size: 13px;
    color: #828282;
}

.modal-title {
    color: #1db686;
    font-size: 14px;
}

.modal-header .close {
    margin-top: -6px;
}

.modal-header .close span {
    font-size: 30px;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    padding: 10px 16px;
    background: #f0f0f0;
}

.modal-body,
.modal-footer {
    padding-right: 50px;
}

.modal-footer {
    border-top: none;
}

.modal-footer .btn+.btn {
    margin-left: 0;
}

.col-sm-3,
.col-sm-7,
.col-sm-9 {
    padding-left: 0;
}

.form-group {
    margin: 7px 0;
}

.form-horizontal .form-group {
    margin-top: 25px;
}


/*======================================================= tab页切换=========================*/


/*=========== bootstrap 重写样式1 ==========*/

.nav-pills > li > a {
    color: #828282;
}

.nav-pills > li + li {
    margin-left: 5px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
    color: #333;
    background-color: #f4f4f1;
}

.nav > li > a {
    padding: 5px 10px;
}


/*=========== bootstrap 重写样式2 ==========*/

.nav-tabs {
    margin-bottom: 20px;
}
.nav-tabs>li  {
    margin-right: 20px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: inherit;
    cursor: default;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #40ca9f;
}


/*=================== 其他 ===============*/

.nav-pills {
    padding: 15px 0;
    background: #fff;
}

.nav-pills li:first-child {
    padding: 5px 15px;
    margin: 0 10px 0 10px;
    border-right: 2px solid #f4f4f1;
}


/*========================================================== 表格 ===========================*/


/*========= bootstrap表格重写部分 ========*/

th {
    font-weight: normal;
}

.table-hover>thead>tr>th {
    font-size: 14px;
}

.table-hover>tbody>tr>td {
    font-size: 13px;
}

.table-hover>thead>tr:hover {
    background-color: none;
}

.table-hover>tbody>tr:hover {
    background-color: #ecfffa;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 20px 12px;
    border-top: none;
}

.table>thead>tr:first-child {
    border-bottom: 2px solid #ebebeb;
}

.table>thead>tr>th:last-child,
.table>tbody>tr>td:last-child {
    text-align: center;
}
.table>tbody>tr>td a  {
    cursor: pointer;
    color: #36b5e6;
}

/*================== 其他部分 ============*/

.main-table {
    margin: 20px 0;
    background: #fff;
    padding: 10px;
    color: #474747;
}


/*============================================= slider进度条样式 ============================*/




/*================== 其他部分 ============*/

.slider {
    min-width: 200px;
    padding: 12px 15px 0;
}






/*========================================================== 自定义单选框样式 ==================*/

.radio-visit {
    padding-top: 9px;
}

input[type="radio"] {
    margin: 3px 3px 0px 5px;
    display: none;
}

.radio-visit span {
    color: #676767;
}

.radio-visit label {
    padding-left: 20px;
    margin-left: 20px;
    cursor: pointer;
    background: url(/img/common/radio.png) no-repeat left bottom;
    height: 18px;
}

label.checked {
    background-position: left top;
}


/*========================================================== 带单选按钮的表格 ==================*/

.radio-table {
    padding: 0;
}

.radio-table .radio-visit label {
    margin-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.radio-table tbody > tr > td {
    vertical-align: middle;
}

.radio-table .table > tbody > tr > td,
.radio-table .table > tbody > tr > th,
.radio-table .table > thead > tr > th {
    padding: 15px 12px;
}

.radio-table .table thead > tr > th:first-child {
    padding-left: 50px;
}

.radio-table .table thead > tr > th:last-child {
    padding-right: 50px;
}

.radio-table .table tbody > tr > td:first-child {
    padding-left: 50px;
}

.radio-table .table tbody > tr > td:last-child {
    padding-right: 50px;
}

.radio-table .table-hover>tbody>tr:hover {
    background-color: #fdfdfd;
}


/*====================================================== sidebar 自适应==========================*/

@media screen and (max-width: 675px) {
    /*.main {
        margin-left: 70px;
    }
    .sidebar {
        width: 70px;
    }
    .sidebar a {
        padding-left: 0;
    }
    .sidebar .active .test {
        background-image: none;
    }
    .sidebar .active .scene {
        background-image: none;
    }
    .sidebar .active .storehouse {
        background-image: none;
    }
    .sidebar .active .sys-set {
        background-image: none;
    }
    .sidebar .test,
    .sidebar .test:hover,
    .sidebar .test:focus {
        background-image: none;
    }
    .sidebar .scene,
    .sidebar .scene:hover,
    .sidebar .scene:focus {
        background-image: none;
    }
    .sidebar .storehouse,
    .sidebar .storehouse:hover,
    .sidebar .storehouse:focus {
        background-image: none;
    }
    .sidebar .sys-set,
    .sidebar .sys-set:hover,
    .sidebar .sys-set:focus {
        background-image: none;
    }*/
    /*.sidebar {
        display: none;
    }
    .main  {
        margin-left: 0;
    }*/
    .sidebar ul li a  {
        width: 90px;
        overflow: hidden;
        padding: 30px;
    }
    .sidebar table  {
        display: none;
    }
    .main  {
        margin-left: 90px;
    }
}
/*====================================================== 提示语句==========================*/
.reaction-tip  {
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    border: 1px solid #d6d6d6;
    background-color: #f5f5f5;
    border-radius: 8px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.reaction-tip img  {
    padding: 0 10px;
}
.reaction-tip img.light-img  {
    padding-bottom: 3px;

}
.reaction-tip img.close-img  {
    cursor: pointer;
    margin-top: 16px;
}




/*======================================================  loading效果=========================*/
.loading {
    background: url(/img/loading.gif) center center no-repeat;
}
/*============================ 模态警告框   =============================*/
.modal-alert{
    position:fixed;
    left:0;
    right:0;
    top:30px;
    z-index:999999;
}
.modal-alert .alert{
    margin:0 auto;
    width:350px;
    padding-left:25px;
    padding-right:25px;
}
.modal-alert .fa{
    float:left;
    margin-right:20px;
    margin-top:-4px;
    font-size:30px;
}





.d3chart .sv-size-4-1.sv-widget-item{
    width:530px;
    margin-left: -32px;
}
/**图表无数据*/
.nodata {
    background: url(/img/no_data.png) center center no-repeat;
}


/**  过滤块儿  **/

.filter_tag_block {
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.filter_tag_list {
    padding: 15px;
    border-top: 1px solid #dddddd;
}

.filter_tag_list:first-child {
    border-top: 0 none;
}

.filter_tag_list:before,
.filter_tag_list:after {
    content: '';
    display: table;
}

.filter_tag_list:after {
    clear: both;
}

.filter_tag {
    float: left;
    margin-right: 25px;
}

.filter_tag,
.filter_tag.right {
    margin-right: 20px;
}

.filter_tag .btn {
    padding-bottom: 5px;
    padding-top: 5px;
    border-color: #dddddd;
    color: #888888;
}

.filter_tag .btn.active {
    color: #333333;
}

.filter_search {
    /*width: 290px;*/
    float: right;
    border: 1px solid #dddddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 32px;
    padding: 0 10px;
}

.filter_search input {
    width: 150px;
    height: 30px;
    border: 0 none;
}

.filter_search input:focus {
    border: 0 none;
    outline: none;
}

.filter_search .fa-search {
    margin-left: 5px;
    cursor: pointer;
}

.fa {
    color: #ddd;
}


/************  分页组件  ************/

.pagination {
    float: right;
}

.pagination>li>a,
.pagination>li>span,
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    margin-left: 5px;
    color: #20a8d8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #37b4b3;
    border-color: #37b4b3;
}
/*=====================  icon图标  ==============================*/
.icon  {
    width: 15px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
}
.icon_start  {
    background: url(/img/start.png) no-repeat center center;
}
.icon_stop  {
    background: url(/img/stop.png) no-repeat center center;
}
.icon_detail  {
    background: url(/img/icon_detail.png) no-repeat center center;
}
.icon_cancel  {
    background: url(/img/icon_cancle.png) no-repeat center center;
}
.icon_order  {
    background: url(/img/icon_order.png) no-repeat center center;
}
.icon_del  {
    background: url(/img/del.png) no-repeat center center;
}

.taskTplTr .glyphicon{
    color:green;
}